/* Variables */
/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Variables */
/* Encabezado */
header {
  background-image: url("../multimedia/fondo4.jpg");
  background-position: center;
  background-size: cover;
  height: auto;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  width: 100px;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.menu li {
  list-style-type: none;
}
.menu a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.menu a:hover {
  text-decoration-line: underline;
  text-decoration-color: white;
  color: white;
}

.redes-nav img {
  width: 40px;
  padding: 10px;
}

.title {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.title h1 {
  text-align: center;
  font-size: 150px;
  color: white;
}

/* Configuracion footer */
footer {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: gray;
}

.footer-info {
  display: flex;
  align-items: center;
}
.footer-info p {
  text-align: center;
  align-items: center;
  color: white;
}

.contenido-footer-info p {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.footer-redes {
  display: flex;
}
.footer-redes a {
  align-self: center;
}
.footer-redes a img {
  width: 40px;
  padding-right: 10px;
}

.f-logo {
  width: 100px;
  height: 95%;
}

/* Configuracion de Inicio*/
.contenido {
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas: "ctitle ctitle" "ctext cimage" "cboton cimage";
}
.contenido h2 {
  grid-area: ctitle;
  text-align: center;
  align-self: center;
}
.contenido p {
  grid-area: ctext;
  text-align: center;
  padding: 20px;
}
.contenido a {
  grid-area: cboton;
  text-decoration: none;
  color: white;
  background-color: gray;
  padding: 10px 40px;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}
.contenido a:hover {
  text-decoration-line: underline;
  text-decoration-color: white;
}

.imagen-main {
  grid-area: cimage;
  background-image: url("../multimedia/fondo3.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
}

.marcas h2 {
  text-align: center;
  background-color: gray;
  padding: 20px;
  color: white;
}
.marcas .carrete {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.carrete img {
  width: 30%;
}

.maps {
  display: flex;
  width: auto;
}
.maps img {
  width: 100%;
  padding-bottom: 50px;
}

/* Configuracion Nosotros */
.contenido-nosotros {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-top: 50px;
}

.imagen-nosotros {
  width: 300%;
  padding-right: 50px;
}

.contenido-nosotros-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.texto-nosotros {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.contenido-empresa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;
}

.info-empresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info-empresa img {
  width: 100px;
  justify-content: center;
  padding-bottom: 20px;
}

/* Configuracion Galeria */
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.galeria img {
  width: 100%;
  padding: 40px 10px 40px 10px;
  align-self: center;
}

/* Configuracion ubicacion */
.ubicacion {
  display: flex;
  align-content: center;
  justify-content: center;
}

.ubicacion-imagen {
  padding: 30px 60px 30px 60px;
}
.ubicacion-imagen img {
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info img {
  width: 30px;
  height: 30px;
}

.ubicacion-info p {
  display: inline-flex;
  padding-left: 20px;
}

.boton-ubicacion {
  display: flex;
  justify-content: center;
}

/* Configuracion Contacto */
.title-form {
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.formulario {
  display: flex;
  align-content: center;
  justify-content: center;
}
.formulario form {
  padding-left: 50px;
  display: inline-block;
  align-self: center;
}
.formulario img {
  width: 30%;
  padding: 20px 0px 20px 0px;
}

/* Media Queries */ /* Variables */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* Media Querie Header - Tablet */
  .menu a {
    font-size: 15px;
    color: white;
  }
  .menu a:hover {
    color: black;
    text-decoration-color: black;
  }
  .title h1 {
    font-size: 100px;
  }
  /*Media Querie Inicio Tablet*/
  .contenido {
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr;
    grid-template-areas: "ctitle ctitle" "ctext ." "ctext cimage" "ctext cimage" "ctext ." "cboton cboton";
  }
  .contenido p {
    font-size: 12px;
  }
  .marcas h2 {
    font-size: 15px;
  }
  .carrete img {
    width: 15%;
  }
  /* Media Querie Nosotros - Tablet*/
  .contenido-nosotros-texto h2 {
    font-size: 15px;
  }
  .contenido-nosotros-texto p {
    font-size: 12px;
  }
  .info-empresa p {
    font-size: 12px;
  }
  /* Media Querie Ubicacion - Tablet*/
  .ubicacion-info {
    display: flex;
  }
  .ubicacion-imagen {
    padding-right: 40px;
    padding-left: 40px;
  }
  .boton-ubicacion a button {
    font-size: 12px;
  }
  .ubicacion-info p {
    font-size: 12px;
  }
  .ubicacion-info img {
    width: 15px;
    height: 15px;
  }
  /* Media Querie Contacto - Tablet */
  .formulario form {
    padding-bottom: 20px;
  }
  .boton-contacto {
    padding-bottom: 20px;
    padding-top: 40px;
  }
  /* Media Querie Footer - Tablet*/
  .contenido-footer-info p {
    font-size: 12px;
  }
  .footer-redes a img {
    width: 30px;
  }
  .f-logo {
    width: 60px;
  }
}
@media screen and (max-width: 767px) {
  /* Media Querie Header - Phone*/
  .logo {
    display: none;
  }
  .redes-nav img {
    display: none;
  }
  .menu a {
    font-size: 15px;
    color: white;
  }
  .menu a:hover {
    color: black;
    text-decoration-color: black;
  }
  .menu {
    padding-top: 30px;
  }
  header nav {
    justify-content: center;
  }
  .title h1 {
    font-size: 100px;
  }
  /* Media Querie Inicio - Phone*/
  .contenido {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr;
    grid-template-areas: "ctitle" "ctext" "cboton" "cimage";
  }
  .contenido p {
    font-size: 12px;
  }
  .marcas h2 {
    font-size: 15px;
  }
  .carrete img {
    width: 15%;
  }
  /* Media Querie Nosotros - Phone*/
  .contenido-nosotros-texto h2 {
    font-size: 15px;
  }
  .contenido-nosotros-texto p {
    font-size: 12px;
  }
  .info-empresa p {
    font-size: 12px;
  }
  .contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "ncontenido" "nimagen";
  }
  .contenido-nosotros .contenido-nosotros-texto {
    grid-area: ncontenido;
  }
  .imagen-nosotros {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .imagen-nosotros img {
    grid-area: nimagen;
    width: 300px;
  }
  .info-empresa img {
    width: 80px;
  }
  /* Media Querie Ubicacion - Phone */
  .ubicacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "uimagen" "uinfo";
  }
  .ubicacion .ubicacion-imagen {
    grid-area: uimagen;
    padding-top: 0px;
  }
  .ubicacion .info {
    grid-area: uinfo;
  }
  .ubicacion-info {
    display: flex;
    justify-content: center;
  }
  .ubicacion-imagen {
    padding-right: 40px;
    padding-left: 40px;
  }
  .boton-ubicacion a button {
    font-size: 12px;
  }
  .ubicacion-info p {
    font-size: 12px;
  }
  .ubicacion-info img {
    width: 15px;
    height: 15px;
  }
  /* Media Querie Contacto - Phone */
  .formulario form {
    padding-bottom: 20px;
  }
  .formulario img {
    display: none;
  }
  .boton-contacto {
    padding-bottom: 20px;
    padding-top: 40px;
  }
  /* Media Querie Footer - Phone*/
  .footer-redes a img {
    width: 30px;
  }
  f-logo {
    width: 30px;
    height: 30px;
  }
  .contenido-footer-info {
    font-size: 12px;
    align-self: center;
  }
}

/*# sourceMappingURL=styles.css.map */
