/* Variables */

$fondo-principal: url("../multimedia/fondo4.jpg");
$fuente: 'Poppins', sans-serif;
$fondo-home: url("../multimedia/fondo3.jpg");
$letra-media-p: 12px;
$letra-media-h2: 15px;
$letra-media-h1: 100px;
