
/* Configuracion Contacto */

.title-form{
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.formulario{
  display: flex;
  align-content: center;
  justify-content: center;
  
  form{
    padding-left: 50px;
    display: inline-block;
    align-self: center;
  }

  img{
    width: 30%;
    padding: 20px 0px 20px 0px;
  }
}




